{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
<h3>Change Password</h3><a href="{{path('fos_user_profile_show')}}">back</a>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

{{ form_row(form._token) }}
	
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	
	{{ form_label(form.current_password) }}
	<div class="input-group">
        <span class="input-group-addon "><i class="fa fa-key"></i></span>  
	{{ form_widget(form.current_password, {'attr': {'class': 'form-control vresize','placeholder':'Current Password'}}) }}
	</div>
	
	{{ form_label(form.plainPassword.first) }}
	<div class="input-group">
        <span class="input-group-addon "><i class="fa fa-key"></i></span>   
	{{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control','placeholder':'Password'}} ) }}
	</div>
	{{ form_errors(form.plainPassword.first) }}

	{{ form_label(form.plainPassword.second) }}
	<div class="input-group">
        <span class="input-group-addon "><i class="fa fa-key"></i></span>   
	{{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control','placeholder':'Reapeat Password'}}) }}
	</div>
	
    {{ form_widget(form) }}
    <div>
	<br>
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
{{ form_end(form) }}
<br><br><br>
</div>
