{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<link href="{{ asset('css/home.css.twig') }}" rel="stylesheet" />
<div class="container">

<h2>Welcome to the International Journal of Virtual Reality (IJVR)</h2>
<br>
The IJVR is a professional journal dedicated to the promotion and publication of new research and technology in the realm of Virtual Reality. The information regarding this new and constantly emerging technology is of interest to computer media professionals worldwide as well as others interested in the expanding potential of virtual reality. The journal has been published since 1995 when virtual reality was still in its infancy. 
<br><br>
International Journal of Virtual Reality solicites contributions
describing original research results, applications, and experience in all
fields of Virtual Reality.<br><br><br>

<div width="80%" style="float:left">
<h2>Last issue</h2>
		Published on: {{article[0].publishDate | date("m/d/Y")}}<br><br>
		<div class="col-md-12">
			<div class="row">
				<div >			
				    
										
					<table class="table table-hover table-bordered">
						{%for a in article%}
							<tr><td>
							<a href="{{path('ijvr_search_single_article',{'id':a.id})}}"> {{a.title}} </a>

							</td></tr>
						{%endfor%}
					</table>
					<br>
					<a href="{{path('ijvr_all_issues')}}">All the issues</a>
				</div>
			</div>
			
			
			
		</div>
	
</div>

<div width="20%" style="float:right">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Metrics</h3>
  </div>
  <div class="panel-body">
    Acceptance rate : 37 %<br>
    Average delays for reviews : 1.5 months <br/>
    Acceptance delays for publication : 2.5 months
  </div>
</div>



</div>

<div class="row">
<div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
<br><br><br>
  <ul>
    <li><img src="{{asset('images/1.jpg')}}"  style="width:300px;height:177px;"  alt="Issue01" class="img-responsive inline-block" alt="Responsive image"/></li>
    <li><img src="{{asset('images/3.jpg')}}"  style="width:300px;height:177px;"  alt="Issue02" class="img-responsive inline-block" alt="Responsive image"/></li>
    <li><img src="{{asset('images/2.png')}}"  style="width:300px;height:190px;"  alt="Issue03" class="img-responsive inline-block" alt="Responsive image"/></li>
   </ul>            
</div>

<br><br><br>
</div>
</div>
{% endblock %}

