{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
<h3>My Profile</h3><br> <a href="{{path('fos_user_profile_edit')}}">modify</a><br>
<a href="{{path('fos_user_change_password')}}">change password</a>
<div class="fos_user_user_show"><br>

<address>
  <strong>{{ 'profile.show.username'|trans }} :</strong>{{ user.username }}
</address>

<address>
  <strong>{{ 'profile.show.email'|trans }} :</strong>{{ user.email }}
</address>
 
    
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Correction to make</h4>
      </div>
      <div class="modal-body">

     <p id="correction"></p>

      </div>
      
    </div>
  </div>
</div>


<script>
var recipient=null;
$('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  recipient = button.data('correct') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('#correction').text(recipient)
});
</script>

<br><br>
<h4>Current Papers</h4>
<br>

{%if current| length %}
<table class="table table-hover">
	<tr>
		<td>Action
		</td>
		<td>Title
		</td>
		<td>Upload Date
		</td>
		<td>Last Update Date
		</td>
		<td>Status
		</td>
	</tr>
	{%for post in current %}
		<tr>
		<td><a target="__blank" href="{{ asset(post.pdf.webpath) }}">See</a>
		</td>
		<td>{{post.title}}
		</td>
		<td>{{post.date |date('m/d/Y')}}
		</td>
		<td>{{post.updateDate |date('m/d/Y')}}
		
		</td>
		{%if post.status == 0%}
		<td> Just being uploaded
		</td>
		{%else %}		
			{%if post.status == 1%}
			<td> Being read
			</td>
			{%else %}
				{%if post.status == 2%}
				<td> <a data-toggle="modal" data-target="#myModal" data-correct="{{post.comment}}">Correction to make</a> <br> 
				<a href="{{path('ijvr_publish_edit',{'id': post.id})}}">Send the article back</a>
				</td>
				{%else %}
					{%if post.status == 3%}
					<td> Correction made
					</td>
					{%else %}
						{%if post.status == 4%}						
						<td> Waiting to be published
						</td>
						{%else%}
						<td>
						rejected
						</td>
						{%endif%}
					{%endif%}
				{%endif%}
			{%endif%}
		{%endif%}
	</tr>
	
	{%endfor%}
</table>
{%else%}
No current paper<br><br>
{%endif%}
<br>

<h4>Finished Papers</h4>
{%if finished| length %}
<table class="table table-hover">
	<tr>
		<td>Action
		</td>
		<td>Issue
		</td>
		<td>Title
		</td>
		<td>Upload Date
		</td>
		<td>End Date
		</td>
		<td>Status
		</td>
	</tr>
	
	{%for post in finished %}


		<tr>
		<td><a target="__blank" href="{{ asset(post.pdf.webpath) }}">See</a>
		</td>
		<td>
		{%if post.issue != null %}
				{{post.issue.title}}
		{%endif%}
		</td>
		<td>{{post.title}}
		</td>
		<td>{{post.date |date('m/d/Y')}}
		</td>
		<td>{{post.publishDate |date('m/d/Y')}}
		</td>
		
		{%if post.status == 5%}
		<td> Rejected
		</td>
		{%else %}	

		<td> Published
		</td>
		{%endif%}
	</tr>
	{%endfor%}
</table>
{%else%}
No finished paper<br><br>
{%endif%}

<br><br><br>
</div>
